
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"

SUPABASE_URL="https://tu-proyecto.supabase.co"
SUPABASE_ANON_KEY="anon-key"

# Whitelist de administradores
ADMIN_EMAILS="elmoteroloco@gmail.com,equip8.innovalab@gmail.com,casladante@gmail.com,demian231190@gmail.com,ernestoalbrz@gmail.com,florenciaflw@gmail.com,gustavo.ovejero@bue.edu.ar,hluciano@gmail.com,mundanumauro4@gmail.com,rominaruiz2104@gmail.com,salvareschiLisandro0@gmail.com,sofiadigiano@live.com.ar,super@innova.com"

GOOGLE_API_KEY="api_key"

VITE_SUPABASE_URL="https://XXXXXXXXXXXXXXXXXXXX.supabase.co"
VITE_SUPABASE_ANON_KEY="sb_publishable_XXXXXXXXXXXXXXXXXXXXX_XXXXXXXXX"

# [SOLO EN EL DEPLOY DE FRONT END]
VITE_API_URL:"https://url-en-domains.vercel.app/api"
